{{ define "main" }}
{{ partial "breadcrumbs" . }}
<div style="text-align: center;margin-top:50px;width:100%;">
    <img src="{{ .Params.image }}" />
</div>
<section class="resume-section p-3 p-lg-5 d-flex d-column">
  <!-- <div class="my-auto"> -->
    <div class="">
    <h2 class="mb-0"><span class="text-primary">{{ .Title }}</span></h2>
    {{ .Content }}
    {{ with .Params.link }}<p>Project link: <a href="{{ . }}" target="_blank">{{ . }}</a></p>{{ end }}
    {{ partial "techtags" . }}
  </div>
</section>
{{ end }}
